*{
    margin: 0;
    padding: 0;
}

body{
    background-color:#2c9762;
}
#logo
{
    margin: 10px 5px 10px 20px;
}
#logo img
{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    float: left;
    padding: 10px;
    background-color: antiquewhite;
}
.header{
    display: flex;
    align-items: center;
   
    top: 0px;
}
.header ul{
    display: flex;
    font-family:sans-serif;
}
.header ul li{
 list-style: none;
 font-size: 1.3rem;
 padding: 10px;
 background-color:#2c9762;
}
.header ul li a{
    display: block;
    text-decoration: none;
    list-style: none;
    font-size: 1.2rem;
    padding: 15px;
    border-radius: 20px;
    color: rgb(236, 227, 220);
   }

   .header ul li a:hover{
    color: rgb(224, 125, 164);
    background-color: #1b583b;
    cursor: pointer;
   }

   .header::before{
    content: "";
    position: absolute;
    top:0px;
    left:0px;
    height: 100%;
    width:100%;
    z-index: -1;
    opacity: 0.8;
}  
.header{
    float:right;
}
.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 50px;
    border-radius: 50%;
    align-items: center;
  }
  form{
    text-align: center;
    font-size: 30px;
    padding-right: 200px;
    
}
.btn{
    padding: 10px;
    font-size: 2.5rem;
    font-weight: bolder;
    background-color: #def1d1;
    color: #27b427;
    margin: 30px;
    border-radius: 15px;
    font-size: 25px;
    font-family: 'Baloo Bhai 2', cursive;
}
.btn:hover{
    
    padding: 10px;
    cursor: pointer;
    font-weight: bolder;
    background-color: #a79ddb;
    color:rgb(17, 2, 41);
    margin: 30px;
    border-radius: 10px;
    font-size: 25px;
    font-family: 'Baloo Bhai 2', cursive;
}
input{
    font-size: 15px;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}
#secretcode{
    visibility: hidden;
}
.register{
    font-size: 40px;
    text-align: center;
}
#email{
    padding-left: 30px;
}
#confirm{
    padding-right: 20px;
}
footer{
    background-color: black;
    color: white;
    padding: 50px 20px;
}